<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sit.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @sit.title %>
</p>

<p>
  <strong>Age:</strong>
  <%= @sit.age %>
</p>

<%= link_to 'Edit', edit_sit_path(@sit) %> |
<%= link_to 'Back', sits_path %>
