<!-- needs locals: {site: site, index: digit} ... index is the row number -->

<div>
    <%= form_for locals[:site], {remote: true} do |f|%>
      <% row_num = locals[:index] + 1 %>
      <td><%= label_tag(locals[:index] + 1) %></td>
      <div class="clearfix visible-xs"></div>

      <td><%= f.text_field :title %></td>
      <div class="clearfix visible-xs "></div>

      <td><%= link_to locals[:site].url %></td>
      <div class="clearfix visible-xs "></div>

      <td>
        <%= f.select :read_status, options_for_select( %w[ Unread Reading Readed ], locals[:site].read_status) %>
      </td>
      <div class="clearfix visible-xs "></div>

      <td id=<%= "star_rating_#{row_num}" %> >
         <div id="14111732322059" class="wE"><script src="http://widget-engine.com/w:0:003:14111732322059:4:000000:40" type="text/javascript"></script><a href="http://widget-engine.com/ratingcode.php" class="wE" title="Free Rating Code for your webprojects">Get free premium widgets for your blog and website.</a></div>
      </td>
      <div class="clearfix visible-xs "></div>

      <td><%= f.submit :submit, {class: "btn btn-primary hide"} %></td>

      <td><%= f.submit :delete, {class: "btn btn-danger", action: :destroy} %></td>
      <div class="clearfix visible-xs "></div>

</div>
<br>
<br>
  <div>
  <td>
    <br>
      <ul>
        <% locals[:site].tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
      </ul>
  </td>
</div>


<script type="text/javascript">

</script>


   <script type="text/javascript">
  //   $(escape_javascript(read_status#{row_num})).change(function(){
  //     $ajax({
  //       url: "/sites/" + escape_javascript(params[:site].id) + "/update",
  //       type: "POST",
  //       data: { url: escape_javascript(params[:site].url), tag_value: $("[name=" + escape_javascript(params[:site].title) + "] option:selected").text(), read_status: $('this').selected}
  //     })
  //   });
   </script>

  <% end %>

