<h4 class="text-center"></h4>
<div id="side_col" >
  <div class="list-group pull-center">
      <a href="#" class="list-group-item active">
          <span class="glyphicon"></span> Reading <span class="badge"><%= @reading_sites.size %></span>
      </a>
      <a href="#" class="list-group-item active">
          <span class="glyphicon"></span> UnRead <span class="badge"><%=  @unread_sites.size %></span>
      </a>
      <a href="#" class="list-group-item active">
          <span class="glyphicon"></span> Readed <span class="badge"><%=  @readed_sites.size %></span>
      </a>
  </div>

  <%= javascript_include_tag "side_column/side_column" %>
  <%= stylesheet_link_tag "side_column/side_column" %>
</div>
