<%= javascript_include_tag "jquery-1.10.2.js" %>
<%= javascript_include_tag "sites.js"%>

<div class="container">
<div class="page-header">
  <h1 class="text-center">Book Mark Application</h1>
</div>
  <div class="row">
    <!-- side column -->
    <div class="col-lg-3 col-sm-12">
       <%= render "side_column"%>
    </div>

    <!-- main content -->
    <div class="col-lg-9 col-sm-12">


    <% colors_array = %w[ active success info warning danger ] %>
    <% read_status_array = %w[ reading unread readed ] %>

    <% [ @reading_sites, @unread_sites, @readed_sites].each_with_index do |sites, index|%>
      <table class="table table-condensed table-striped" id=<%= read_status_array[index] + "_table"%>>
        <caption><%= read_status_array[index].capitalize %></caption>
        <thead>
          <th>Row</th>
          <th>Title</th>
          <th>Url</th>
          <th>Read Status</th>
          <th>Rating</th>
        </thead>

        <tbody>
          <% sites.each_with_index do |site, index|%>
            <tr class=<%= colors_array[index % colors_array.size] %>>
              <%= render "list_item", locals: { site: site, index: index } %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>

</div>
