<%= javascript_include_tag "jquery-1.10.2.js" %>
<%= javascript_include_tag "sites.js"%>

<div class="container">

    <div class="row">
      <!-- side column -->
      <div class="col-lg-2">
         <%= render side_column %>
      </div>

      <!-- main content -->
      <div class="col-lg-10">
        <table>
          <tr>
            <td>Read?</td>
            <td>Link</td>
            <td>Delete</td>
          </tr>

            <tr>
            <td>Read?</td>
            <td>Link</td>
            <td>Delete</td>
          </tr>
          <ul>
            <% @sites.each do |site|%>
                <li class="site list-group">
                    <%= content_tag(:div, { class: "list-group-item" }) do %>
                        <%= check_box_tag 'post', 'value', site.status == 'read' , class: 'status' %>
                        <%= link_to "#{site.url}", site.url %>
                         <div id="14111732322059" class="wE"><script src="http://widget-engine.com/w:0:003:14111732322059:4:000000:40" type="text/javascript"></script><a href="http://widget-engine.com/ratingcode.php" class="wE" title="Free Rating Code for your webprojects">Get free premium widgets for your blog and website.</a></div>
                        <%= button_to :delete, "/sites/#{site.id}/delete", { action: :destroy, method: :post} %>
                    <% end %>
                </li>
            <% end %>

        </table>
        </ul>

      </div>

</div>
